<div class="container mt-4">
    <h2>Liste des recettes enregistrées</h2>
  
    <!-- Message de chargement -->
    <div *ngIf="isLoading" class="alert alert-info">
      Chargement des recettes...
    </div>
  
    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  
    <!-- Tableau des recettes -->
    <table class="table table-bordered table-striped mt-3" *ngIf="!isLoading && recettes.length > 0">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Description</th>
          <th>Surgraissage (%)</th>
          <th>Apport Eau (g)</th>
          <th>Agent Alcalin</th>
          <th>Qté alcalin</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recette of recettes">
          <td>{{ recette.id }}</td>
          <td>{{ recette.titre }}</td>
          <td style="font-size: 0.8em;">{{ recette.description }}</td>
          <td>{{ recette.surgraissage }}</td>
          <td>{{ recette.apportEnEau }}</td>
          <td>{{ recette.avecSoude ? 'Soude' : 'Potasse' }}</td>
          <td>{{ recette.qteAlcalin }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- Message si aucune recette n'est disponible -->
    <div *ngIf="!isLoading && recettes.length === 0" class="alert alert-warning">
      Aucune recette enregistrée.
    </div>
  </div>
  
